<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/preauth"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="saloon-background">
  <div class="overlay center-vertical">
    <ion-grid>
      <ion-row class="align-items-center white-text">
        <ion-col class="center-any-object">
          <ion-avatar>
            <img src="../../assets/img/saloon.jpg">
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row class="align-items-center white-text">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input [(ngModel)]="userName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="align-items-center white-text">
        <ion-col>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="align-items-center white-text">
        <ion-col>
          <ion-button expand="block" (click)="onLogin()">Login</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="align-items-center white-text">
        <ion-col class="center-any-object">
          <a [routerLink]="['/register']">Register</a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
