<ion-content class="saloon-background">
  <div class="overlay center-vertical">
    <div class="app-name">
      <div>Multi vendor Saloon App</div>
      <div>
        <img class="logo-img" src="../../assets/img/logo.jpg">
      </div>
    </div>

    <ion-grid>
      <ion-row class="align-items-center">
        <ion-col class="center-any-object">
          <ion-avatar [routerLink]="['/login']">
            <img src="../../assets/img/saloon.jpg">
          </ion-avatar>
        </ion-col>
        <ion-col class="center-any-object">
          <ion-avatar [routerLink]="['/login']">
            <img src="../../assets/img/user.png">
          </ion-avatar>
        </ion-col>
      </ion-row>
      <ion-row class="align-items-center">
        <ion-col class="center-any-object">
          <ion-label class="pink-text">Saloon</ion-label>
        </ion-col>
        <ion-col class="center-any-object">
          <ion-label class="pink-text">User</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
